<% unless defined? options %>

  <% options = { info: [:name] } %>

<% end %>

<div class="center">
<%= will_paginate objects %>
</div>

<ul class="list_of_links">

  <% objects.each do |object| %>

    <a href="<%= polymorphic_path(object) %>"><li>

      <% if options[:thumbnails] %>

        <img src="<%= object.thumbnail %>">

      <% end %>

      <span>

      <% options[:info].each do |opt| %>

        <%= object.send(opt) %>  

        <br>

      <% end %>

      </span>

    </li></a>

  <% end %>

</ul>

<br>

<div class="center">
  <%= will_paginate objects %>
</div>
