<% unless defined? options %>

  <% options = { info: [:name] } %>

<% end %>

<div class="center">
<%= will_paginate objects %>
</div>

<div class="video-list">

  <% objects.each do |object| %>

<div class="item">

    <a href="<%= polymorphic_path(object) %>">

      <% if options[:thumbnails] %>

        <div class="thumbnail" style="background-image: url('<%= object.thumbnail %>');"></div>

      <% end %>

      <div class="info wrapbroken">

      <% options[:info].each do |opt| %>

        <%= object.send(opt) %>  

        <br>

      <% end %>

      </div>

    </a>

<div style="clear: both;"></div>

</div>

  <% end %>

</div>

<div style="clear: both;"></div>

<br>

<div class="center">
  <%= will_paginate objects %>
</div>
