<!doctype html>
<html>
<head>

  <!-- Metadata -->
  <title><%= full_title(yield(:title)) %></title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  
  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
 
  <%= stylesheet_link_tag "application", media: "all",
                                         "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>

</head>
<body>

  <%= render 'layouts/header' %>

  <%= render 'layouts/flash' %>

  <%= render 'layouts/navbar' %>

  <%= yield %>

  <div id="footerspacer"></div>

  <%= render 'layouts/footer' %>

  <!-- rails application js -->
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
