<!doctype html>
<html>
<head>

  <!-- Metadata -->
  <title><%= full_title(yield(:title)) %></title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />

  <link rel="icon" 
        type="image/png" 
        href="/assets/favicon.png">
  
  <!-- Stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
 
  <%= stylesheet_link_tag "application", media: "all",
                                         "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>

</head>
<body data-no-turbolink>

  <%= render 'layouts/header' %>

  <%= render 'layouts/flash' %>

  <%= render 'layouts/navbar' %>

  <%= yield %>

  <div id="footerspacer"></div>

  <%= render 'layouts/footer' %>

  <!-- rails application js -->
  <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
