<% provide(:title, "edit channel") %>

<div id="wrapper">

  <div class="center">

    <h1>edit channel</h1>

    <%= form_for @channel do |f| %>

      <%= render 'shared/error_messages', object: @channel %>

      <br>

      <div>
        <%= f.label :username %>
        <br>
        <%= f.text_field :username %>
        <br>
        <br>
      </div>

      <div>
        <%= f.label :alias %>
        <br>
        <%= f.text_field :alias %>
        <br>
        <br>
      </div>

      <div>
        <%= f.label :user_id, 'User ID' %>
        <br>
        <%= f.text_field :user_id %>
        <br>
        <br>
      </div>

      <div>
        <%= f.submit %>
      </div>

    <% end %>

    <br>
    <br>

  </div>

</div>
