<% provide(:title, "Editing #{@cat_type} #{@category.name}") %>

<div id="wrapper">

  <div class="center">

    <h1>Editing <%= @cat_type %> <%= @category.name %></h1>

    <%= form_for @category, as: :category, url: category_url(@category), method: :patch do |f| %>

      <%= render 'shared/error_messages', object: @category %>

      <div>
        <%= f.label :name %>
        <br>
        <%= f.text_field :name %>
      </div>

      <br>

      <%= f.label :select_videos %>

      <br>

      <%= f.select :video_ids,
                   options_from_collection_for_select(@videos, :id, :title,
                                                       @category.videos.map { |c| c.id }),
                                                       {},
                   :multiple => true,
                   :class => "multiselect" %>

      <br><br>

      <%= f.submit %>

    <% end %>

  </div>

</div>
