<% provide(:title, "new #{@cat_type}") %>

<div class="center">

  <h1>New <%= @cat_type %></h1>

  <%= form_for @category, as: :category, url: categories_path, method: :post do |f| %>

    <%= render 'shared/error_messages', object: @category %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>

  <% end %>

</div>
